.photo-gallery {
  width: 100%;
}

.photo-wrapper {
  overflow: hidden;
  border-radius: 12px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease;
  border-radius: 12px;
}

.gallery-image:hover {
  transform: scale(1.08);
}
